package com.example.myplugin;
import com.hypixel.hytale.server.core.plugin.JavaPlugin;
import com.hypixel.hytale.server.core.plugin.JavaPluginInit;
import javax.annotation.Nonnull;
public class MyPlugin extends JavaPlugin {
private static MyPlugin instance;
public MyPlugin(@Nonnull JavaPluginInit init) {
super(init);
}
public static MyPlugin get() {
return instance;
}
@Override
protected void setup() {
instance = this;
// Register components
registerComponents();
// Register systems
registerSystems();
// Register commands
registerCommands();
// Register events
registerEvents();
getLogger().info("MyPlugin setup complete!");
}
@Override
protected void start() {
getLogger().info("MyPlugin started!");
}
@Override
protected void shutdown() {
getLogger().info("MyPlugin shutting down!");
}
private void registerComponents() {
// Component registration here
}
private void registerSystems() {
// System registration here
}
private void registerCommands() {
// Command registration here
}
private void registerEvents() {
// Event registration here
}
}